.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link:hover {
  background-color: #555;
}

.right {
  margin-left: auto;
}
.menu{
  display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: inherit;
}
.menu-list{
  position: absolute;
  bottom: -42px;
  color: white;
  background-color: #333;
  border-radius: 10px;
}
.menu-list p{
  margin: 0;
  padding: 0;
}